<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerializationTesting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerializationTesting.My.MySettings>
            <setting name="PathToSerialFile_xml" serializeAs="String">
                <value>C:\Users\Jane\Documents\__Thomas\ciBadgeWeb\SerializeFile_Xml.txt</value>
            </setting>
            <setting name="PathToSerialFile_bin" serializeAs="String">
                <value>C:\Users\Jane\Documents\__Thomas\ciBadgeWeb\SerializeFile_bin.txt</value>
            </setting>
        </SerializationTesting.My.MySettings>
    </userSettings>
</configuration>